<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Create Item</button>

    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#placeBid">Place Bid</button>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Reserve Price</th>
          <th>ItemId</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection | paginate:{itemsPerPage: 10, currentPage:p}">
          <td>{{item.reservePrice}}</td>
          <td>{{item.item.itemId}}</td>
          <td>{{item.item.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Item</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3"><input type="number" class="form-control" [(ngModel)]="saveForm.reservePrice"
                placeholder="Enter value"> </div>
            <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="saveForm.item.itemId"
                placeholder="Enter value"> </div>
            <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="saveForm.item.description"
                placeholder="Enter value"> </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="submitForm()" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="placeBid" role="dialog">
      <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Place Bid</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              
              <div class="col-md-3">
                  <select [(ngModel)]="bid.auctionItemId">
                    <option *ngFor="let val of collection" value="{{val.auctionItemId}}">{{val.item.itemId}}</option>
                  </select>
                 </div>
              <div class="col-md-3"><input type="number" class="form-control" [(ngModel)]="bid.maxAutoBidAmount"
                    placeholder="Enter Max Auto Bid Amount"> </div>
              <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="bid.bidderName"
                  placeholder="Enter Bidder Name"> </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" (click)="submitBid()" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
  
      </div>
    </div>

</div>